# Build directories
target/
endc/target/
**/target/
dist/
release/
node_modules/
.end_diagnostics/
.end/

# Binaries and intermediate files
*.exe
*.dll
*.so
*.dylib
*.wasm
*.lib
*.a
*.pdb
*.obj
*.o
*.zip
*.tar.gz
app_*
examples/*.c
examples/*.exe

tests/*.c
tests/*.exe
tests/test_pkg/
bindings/test_bindgen/
docs/test_out/

# IDE & system
/ide
.idea/
.vscode/*
!.vscode/settings.json
*.swp
.DS_Store