# Build directories
target/
endc/target/
**/target/
dist/
release/
node_modules/

# Binaries and intermediate files
*.exe
*.dll
*.so
*.dylib
*.wasm
*.lib
*.a
*.pdb
*.obj
*.o
*.zip
*.tar.gz
app_*
examples/*.c
examples/*.exe

# IDE & system
/ide
.idea/
.vscode/*
!.vscode/settings.json
*.swp
.DS_Store